.cartBody{
    background-image: url('../Assets/Img/cartBackground.jpg');
    background-size:cover;  /* COMO LA IMAGEN ES PEQUEÑA, LA PONGO COVER*/
    background-position: center;    /*CENTRADA*/
    background-repeat: no-repeat;   /*SIN REPETIR*/

}

.contenedorDetalles {
    background-color: white;
    border: 0.5px solid #a1a1a14f ;
    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px ;
    padding: 20px;
}

.contenedorTotal {
    background-color: white;
    border: 0.5px solid #a1a1a14f ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    padding: 10px;
}

.cartBody .titulo{
    color: rgb(13, 15, 154);
    text-shadow: 2px 1px white;
}