.modalNoStock .modal{
    font-family:  'Montserrat', sans-serif;
}

.modalNoStockHeader, .modalNoStockFooter{
    background-color: #369d80;
    color: #ffffff;
    font-style: italic;
    font-size: 25px;
}
.modalNoStockBody{
    background-color: #aed0eb;
    color: black;
    font-style: italic;
    font-size: 25px;
}