.itemCarrito .colTotales h4{
    color: black;
    text-shadow: 1px 1px white;
    font-family: Calibri;
    text-align: center;
}

.itemCarrito .totalText{
    font-family: Calibri;
    margin: 0px;
}

.itemCarrito .totalPrecio{
    font-family: Calibri;
    font-weight: bold;
    margin: 0px;
    text-align: right;
}

.colTotales {
    border-bottom: 0.5px solid #1d175c13;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}