.modal{
    font-family:  'Montserrat', sans-serif;
}
.modal-header, .modal-footer{
    background-color: #0b79cd;
    color: #ffffff;
}
.modal-body{
    background-color: #a2b2be;
}

.modal-body .text{
    color: #acaaaa;
    font-style: italic;
}


.form-label{
    color:#432a31;
}

.mensajeFinal{
    color: #432a31;
}