.modalFormulario{
    font-family:  'Montserrat', sans-serif;
}
.modalFormularioHeader, .modalFormularioFooter{
    background-color: #0b79cd;
    color: #ffffff;
}
.modalFormularioBody{
    background-color: #a2b2be;
    color: #432a31;
    font-style: italic;
}

.modalFormularioLabel{
    color:#432a31;
}

.modalFormularioLabelMensajeFinal{
    color: #432a31;
}